
<section class="meuble">
    <div class="container">
        <div class="row">
            <h1 class="mt-5 text-center">MEUBLES D'OCCASION</h1>
            <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat inventore accusamus
                repellendus totam fugiat molestiae culpa laboriosam vitae mollitia, quas doloribus debitis
                laudantium autem cumque voluptatum distinctio, cupiditate eveniet enim. Dolores, natus ab. Commodi,
                repellat atque voluptatibus excepturi, sit ea neque nulla molestiae quod ex odit eveniet sequi
                blanditiis fugit odio asperiores tempora maxime. Distinctio maiores eius harum nostrum perspiciatis.
            </p>
        </div>
    </div>
</section>

<section class="filter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12  text-center">
                <div class="  mt-0 py-3">
                    <p class="nbre-produit">
                        36573 produits dans vos <b>ABAJOURA</b>. Affinez votre recherche en utilisant les filtres
                        ci-dessous
                    </p>


                </div>
            </div>

        </div>
        <div class="row row-cards">
            <div class="col-3 fil ">
                <div class="title-affin">
                    <h6>Affiner votre recherche</h6>
                </div>
                <div class="affine ms-2">
                    <div class="tit-fil ">
                        <h5 class="mt-2">Filtrer</h5>
                    </div>
                    <div class="ren mt-3">
                        <a href="#" class="text-compte">Rénitialiser les filtres</a>
                    </div>
                    <div class="mt-5 search-prod">
                        <input id="searchbar" type="text" name="search" placeholder="Rechercher un produit">
                    </div>
                    <div class="categ mt-2">
                        <select name="categories">
                            <option value="">Meubles d'occasion</option>
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="hamster">Hamster</option>
                            <option value="parrot">Parrot</option>
                            <option value="spider">Spider</option>
                            <option value="goldfish">Goldfish</option>
                        </select>
                    </div>
                    <div class="filter-box">

                        <form>
                            <div class="ligne-prod text-center "></div>
                            <div class="prix">
                                <span class="prix-fil ">
                                    PRIX
                                </span>
                                <img src="../assets/images/arrow-down-svgrepo-com (1).svg" style="width: 30px;" alt="">
                            </div>

                        </form>
                    </div>
                    <div class="filter-box">

                        <form>
                            <div class="ligne-prod text-center "></div>
                            <div class="dimension">
                                <span class="dim-fil ">

                                    DIMENSIONS <img src="../assets/images/arrow-down-svgrepo-com (1).svg"
                                        style="width: 30px;" alt="">
                                </span>
                            </div>

                        </form>
                    </div>
                    <div class="filter-box">

                        <form>
                            <div class="ligne-prod text-center "></div>
                            <div class="style">
                                <span class="style-fil ">

                                    STYLE <img src="../assets/images/arrow-down-svgrepo-com (1).svg"
                                        style="width: 30px;" alt="">
                                </span>
                            </div>

                        </form>
                    </div>
                    <div class="filter-box">

                        <form>
                            <div class="ligne-prod text-center "></div>
                            <div class="mat">
                                <span class="mat-fil ">

                                    MATERIAU <img src="../assets/images/arrow-down-svgrepo-com (1).svg"
                                        style="width: 30px;" alt="">
                                </span>
                            </div>

                        </form>
                    </div>
                    <div class="filter-box">

                        <form>
                            <div class="ligne-prod text-center "></div>
                            <div class="coul">
                                <span class="coul-fil ">

                                    COULEUR <img src="../assets/images/arrow-down-svgrepo-com (1).svg"
                                        style="width: 30px;" alt="">
                                </span>
                            </div>

                        </form>
                    </div>
                    <div class="filter-box">

                        <form>
                            <div class="ligne-prod text-center "></div>
                            <div class="plus">
                                <span class="plus-fil ">

                                    PLUS DE FILTRES <img src="../assets/images/arrow-down-svgrepo-com (1).svg"
                                        style="width: 30px;" alt="">
                                </span>
                            </div>

                        </form>
                    </div>
                    <button class="btn btn-primary mt-5 btn-filter">FILTRER LA RECHERCHE</button>
                </div>
            </div>


            <div class="col-9">
                <div class="row ">
                    <div class="col avis">
                        <a class="btn btn-avis" href="#" role="button"> <span>Avis de recherche</span>
 
 
                            <i class="fas fa-alarm-clock"></i></a>


                    </div>
                    <div class="col moins-cher">
                        <a class="btn btn-cher" href="#" role="button"> <span>Trier par le moins cher</span></a>
                    </div>
                </div>
                <div class="container scroll-container">
                    <div class="row">

                        <div class="col-4 mt-5" *ngFor="let item of productList">
                            <div class="card" style="width: 18rem; height: 30rem;">
                                <img class="card-img-top " src="{{item.image}}" alt="Card image cap"
                                    style="height: 17rem;">
                                <div class="card-body">
                                    <div class="para">
                                        <h5 class="card-title"
                                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                                            {{item.title}}</h5>
                                        <p
                                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                                            {{item.description}}</p>
                                    </div>
                                    <h5 class="card-text text-center"> ${{item.price}}</h5>
                                    <a href="#" class="btn btn-achat " data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" (click)=addtocart(item)> ACHAT RAPIDE</a>
                                </div>
                               
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered  ">
      <div class="modal-content popup scroll-popup " >
        <div class="modal-header">
         
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <div class="container ">
                <div class="row">
                  <div class="col-6">
                    <div class="">
                      <img class="img-article" src="../assets/images/aljeya2.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="title-pop">
                      <h3> ROUND LOW TABLE MADE WITH SOLID WOOD</h3>
            
                    </div>
                    <div class="tax">
                      <h6 class="mt-4">100$</h6>
                      <p>Taxes incluses. Frais d'expédition calculés lors du passage
                        à la caisse.</p>
                    </div>
                    <div class="ligne-pop">
            
                    </div>
                    <div class="mt-4 descrip">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero, blanditiis porro numquam assumenda impedit et odit ducimus repudiandae ipsa?</p>
                    </div>
                    <div>
                      <button class="btn ajout-pop  mt-3">AJOUTER AU PANIER</button>
                    </div>
                    <div>
                      <button class="btn achet-pop mt-3">ACHETER MAINTENANT</button>
                    </div>
                    <div class="livrai-pop mt-2">
                      <select name="livraison">
                        <option value="">LIVRAISON</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
            
                      </select>
                    </div>
                  </div>
                </div>
              </div>
        </div>
     
      </div>
    </div>
    </div>
    


